#page-home {
    height: 100vh;
}

.content img {
    width: 150px;
    height: 55px;
    margin-top: 3px;
    margin-left: 25px;
}

#page-home main {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header.header {
    width: 100%;
    height: 60px;
    box-shadow: var(--shadow);
}

.items-grid {
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.items-grid a {
    margin: 5px;
    color: black;
    text-decoration: none;
  }

  
.footer {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #24292e;
}


.footer p {
    float: right;
    margin-top: 25px;
    margin-right: 20px;
    color: white;

}